In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import seaborn as sns

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [5]:
df = df.rename(columns= {'T1': 'Temperature in kitchen', 'RH_1': 'Humidity in kitchen', 
                         'T2': 'Temperature in living room', 'RH_2': 'Humidity in living room',
                         'T3': 'Temperature in laundry room', 'RH_3': 'Humidity in laundry room',
                         'T4': 'Temperature in office room', 'RH_4': 'Humidity in office room',
                         'T5': 'Temperature in bathroom', 'RH_5': 'Humidity in bathroom',
                         'T6': 'Temperature outside the building (north side)', 'RH_6': 'Humidity outside the building (north side)',
                         'T7': 'Temperature in ironing room','RH_7': 'Humidity in ironing room',
                         'T8': 'Temperature in teenager room 2','RH_8': 'Humidity in teenager room 2',
                         'T9': 'Temperature in parents room', 'RH_9': 'Humidity in parents room'})
df.head()

,date,Appliances,lights,Temperature in kitchen,Humidity in kitchen,Temperature in living room,Humidity in living room,Temperature in laundry room,Humidity in laundry room,Temperature in office room,...,Temperature in parents room,Humidity in parents room,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [9]:
df=df.rename(columns={'T_out': 'Temperature outside','RH_out': 'Humidity outside',})
df.columns

Index(['date', 'Appliances', 'lights', 'Temperature in kitchen',
       'Humidity in kitchen', 'Temperature in living room',
       'Humidity in living room', 'Temperature in laundry room',
       'Humidity in laundry room', 'Temperature in office room',
       'Humidity in office room', 'Temperature in bathroom',
       'Humidity in bathroom', 'Temperature outside the building (north side)',
       'Humidity outside the building (north side)',
       'Temperature in ironing room', 'Humidity in ironing room',
       'Temperature in teenager room 2', 'Humidity in teenager room 2',
       'Temperature in parents room', 'Humidity in parents room',
       'Temperature outside', 'Press_mm_hg', 'Humidity outside', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [11]:
df = df.drop(columns=['date', 'lights'])

In [12]:
df.head()

,Appliances,Temperature in kitchen,Humidity in kitchen,Temperature in living room,Humidity in living room,Temperature in laundry room,Humidity in laundry room,Temperature in office room,Humidity in office room,Temperature in bathroom,...,Temperature in parents room,Humidity in parents room,Temperature outside,Press_mm_hg,Humidity outside,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
df.shape

(19735, 27)

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
X = df.drop(columns=['Appliances'])

In [78]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
normal_df = pd.DataFrame(scaled, columns=df.columns)
normal_df.head()

,Appliances,Temperature in kitchen,Humidity in kitchen,Temperature in living room,Humidity in living room,Temperature in laundry room,Humidity in laundry room,Temperature in office room,Humidity in office room,Temperature in bathroom,...,Temperature in parents room,Humidity in parents room,Temperature outside,Press_mm_hg,Humidity outside,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [81]:
X = normal_df.drop(columns=['Appliances'])
Y = normal_df['Appliances']

In [57]:
# y_scaled = scaler.fit_transform(Y.values.reshape(-1,1))

In [82]:
lrr = linear_model.LinearRegression()

In [83]:
X_train,X_test,y_train,y_test = train_test_split(X,Y, test_size=0.3,random_state=42)

In [88]:
lrr.fit(X_train,y_train)
pred = lrr.predict(X_test)
r2_score(pred,y_test)

-4.411893747294896

In [85]:
pred.shape,y_test.shape

((5921,), (5921,))

In [86]:
alphas = [0.1,0.2,0.3,0.4,0.5]
reg = linear_model.RidgeCV(alphas=alphas)
reg.fit(X_train,y_train)
predr = reg.predict(X_test)
r2_score(predr,y_test)

-4.467466523936196

In [87]:
reg.alpha_

0.1

In [ ]:
#From the dataset, fit a linear model on the relationship between the temperature in the living room
#in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [130]:
df.columns

Index(['Appliances', 'Temperature in kitchen', 'Humidity in kitchen',
       'Temperature in living room', 'Humidity in living room',
       'Temperature in laundry room', 'Humidity in laundry room',
       'Temperature in office room', 'Humidity in office room',
       'Temperature in bathroom', 'Humidity in bathroom',
       'Temperature outside the building (north side)',
       'Humidity outside the building (north side)',
       'Temperature in ironing room', 'Humidity in ironing room',
       'Temperature in teenager room 2', 'Humidity in teenager room 2',
       'Temperature in parents room', 'Humidity in parents room',
       'Temperature outside', 'Press_mm_hg', 'Humidity outside', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [132]:
# Question 2
Xt_train,Xt_test,yt_train,yt_test = train_test_split(normal_df['Temperature in living room'],normal_df['Temperature outside'], test_size=0.3,random_state=42)
regtemp = linear_model.LinearRegression()
# regtemp.fit(normal_df['Temperature in living room'],normal_df['Temperature outside'])

In [133]:
regtemp.fit(Xt_train.values.reshape(-1,1),yt_train.values.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [137]:
predt = regtemp.predict(Xt_test.values.reshape(-1,1))
r2_score(predt,yt_test)

0.41314779836844817

In [144]:
from sklearn import metrics
from math import sqrt

Mean Absolute error 0.08113907527693567
Root Mean Square error 0.10351509907661759

In [156]:
X_train,X_test,y_train,y_test = train_test_split(X,Y, test_size=0.3,random_state=42)

In [157]:
lr = linear_model.LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [158]:
pred = lr.predict(X_test)
r2_score(pred,y_test)

-4.411893747294896

In [159]:
print('Mean Absolute error', metrics.mean_absolute_error(pred,y_test))
# print('Residual sum of squares', metrics.mean_absolute_error(predt,yt_test))
print('Root Mean Square error', sqrt(metrics.mean_squared_error(pred,y_test)))

Mean Absolute error 0.050133623977429535
Root Mean Square error 0.0875144494766171

In [160]:
print('Coefficient of Determination ', r2_score(pred,y_test))

Coefficient of Determination  -4.411893747294896

In [166]:
X.columns

Index(['Temperature in kitchen', 'Humidity in kitchen',
       'Temperature in living room', 'Humidity in living room',
       'Temperature in laundry room', 'Humidity in laundry room',
       'Temperature in office room', 'Humidity in office room',
       'Temperature in bathroom', 'Humidity in bathroom',
       'Temperature outside the building (north side)',
       'Humidity outside the building (north side)',
       'Temperature in ironing room', 'Humidity in ironing room',
       'Temperature in teenager room 2', 'Humidity in teenager room 2',
       'Temperature in parents room', 'Humidity in parents room',
       'Temperature outside', 'Press_mm_hg', 'Humidity outside', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [163]:
lr.coef_

array([-0.00328105,  0.5535466 , -0.23617792, -0.45669795,  0.29062714,
        0.09604827,  0.028981  ,  0.02638578, -0.01565684,  0.01600579,
        0.23642491,  0.03804865,  0.01031878, -0.04461364,  0.10199505,
       -0.15759548, -0.18994077, -0.03980032, -0.32185967,  0.00683933,
       -0.07767065,  0.02918313,  0.01230661,  0.11775773,  0.0007701 ,
        0.0007701 ])

In [168]:
ridg = linear_model.Ridge(alpha=0.4)
ridg.fit(X_train,y_train)
predrid = ridg.predict(X_test)
r2_score(predrid,y_test)

-4.620941103046116

In [169]:
print('Root Mean Square erro of ridge regression', sqrt(metrics.mean_squared_error(predrid,y_test)))

Root Mean Square erro of ridge regression 0.08753385704628004

In [179]:
lasreg = linear_model.Lasso(0.001)
lasreg.fit(X_train,y_train)
predlas = lasreg.predict(X_test)
r2_score(predlas,y_test)

-96.24277531690481

In [180]:
lasreg.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [181]:
print('Root Mean Square erro of ridge regression', sqrt(metrics.mean_squared_error(predlas,y_test)))

Root Mean Square erro of ridge regression 0.09358170467245137